:root {
  --main-background-color: #273E47;
  --main-text-color: #284b63;
  --hover: #F3EFE0;
  --secondary: #d9d9d9;
  --main-accent-color-hover: #429EA6;
  --secondary-background-color: #0C1713;
  --secondary-text-color: #7B435B;
  --danger: #e9c46a;
  --warning: #f4a261;
  --card-bg: rgba(202, 240, 248, 0.7);
  --card-headers: #03045e;
  --modal-rgba: rgba(255, 255, 255, 0.75);
  --navbar-background: #00b4d8;
}

.card-user-header {
  color: var(--card-headers);
}

.specific-cards {
  background: var(--card-bg);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}

li.list-group-item {
  background: var(--card-bg);
  color: var(--main-text-color);
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
}

input[type="text"], input[type="password"] {
  background: var(--secondary);
  color: var(--secondary-text-color);
}

input[type="text"]:focus, input[type="password"]:focus {
  background: var(--secondary);
}

.generated-cards.card {
  background: var(--card-bg);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  object-fit: cover;
}

.modal-buttons {
  background: var(--secondary);
  color: var(--main-text-color);
}

.modal-buttons:hover {
  background: var(--main-accent-color-hover);
}

#navbar-login-button {
  background: var(--secondary);
  color: var(--main-text-color);
}

#navbar-login-button:hover {
  background: var(--main-accent-color-hover);
}

footer {
  margin-top: auto;
}

.user-image {
  width: auto; /* Set your desired width */
  height: 300px; /* Set your desired height */
  object-fit: cover; /* This property ensures the image covers the area without losing its aspect ratio */
}

.generated-cards:hover {
  animation: pulse 1s infinite; /* Increase the duration to slow down the animation */
  animation-delay: 50ms; /* Add a delay before the animation starts */
  transition: animation 5s ease-in-out;
}

#admin-override  {
  background: var(--danger);
  color: var(--secondary-text-color);
}

.staff-button {
  background: var(--danger);
  color: var(--main-text-color);
}

.staff-button:hover {
  background: var(--warning);
}

#admin-override:hover {
  background: var(--warning);
}

.navbar {
  background-color: var(--navbar-background);
}

.modal-content {
  background-color: var(--modal-rgba);
}

/* rounded corner black 65% opacity background for landing-page text content */
.landing-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#landing-page-button, #refresh-button {
  background: var(--secondary);
  color: var(--main-text-color);
}

#landing-page-button:hover, #refresh-button:hover {
  background: var(--main-accent-color-hover);
}
